<div class="container mt-4">
    <div class="columns">
        <div class="column col-1"></div>
        <div class="column col-10 mb-6">

            {{#if loginError.length}}
                <div class="toast toast-error mb-4">
                    {{#each loginError}}
                        <p>{{this}}</p>
                    {{/each}}
                </div>

            {{else}}
                {{#if note}}
                    <div class="container">
                        <div class="columns">
                            <div class="column col-2"></div>
                            <div class="column col-auto col-ml-auto">
                                <a href="/add-to-collection/{{note.noteId}}" class="btn btn-primary float-left mr-2">Add to Collection</a>
                                <a href="/note-update/{{note.noteId}}" class="btn mr-2" type="submit" value="Update post">Update note</a>
                                <form class="float-right" action="/note-delete/{{note.noteId}}" method="post">
                                    <input class="btn btn-error" type="submit" value="Delete post" />
                                </form>
                            </div>
                        </div>
                    </div>
                    <img src="{{note.noteImage}}" alt="{{note.noteTitle}}" class="s-rounded img-responsive p-centered mt-4" />
                    <h1 class="mt-3 mb-1">{{note.noteTitle}}</h1>
                    <span class="d-block mb-4 text-italic">uploaded by {{note.noteAuthor}}</span>
                    <p class="text-large">{{note.noteDesc}}</p>

                    <h2 class="mt-6">Comments :</h2>
                    <a href="/new-comment/{{note.noteId}}" class="btn btn-primary mt-2 mb-4">Write a comment</a>

                    {{#if comments.length}}
                        {{#each comments}}
                            <div class="bg-gray s-rounded py-2 px-4 mb-2">
                                <div>
                                    <form class="float-right pl-2" action="/comment-delete/{{commentId}}" method="post">
                                        <button type="submit" class="btn btn-error">
                                            <i class="icon icon-delete"></i>
                                        </button>
                                    </form>
                                    <a href="/comment-update/{{commentId}}" class="btn btn-primary p-2 float-right"><i class="icon icon-edit"></i></a>
                                </div>
                                <p class="h5 mb-2">{{commentTitle}}</p>
                                <p>{{commentContent}}</p>
                                <p class="p-O m-0">written by <span class="text-italic text-primary">{{commentAuthor}}</span></p>
                            </div>
                        {{/each}}

                    {{else}}
                        <p>There are no comments yet.</p>
                    {{/if}}
                {{else}}
                    <p>Sorry, this note does not exist</p>
                {{/if}}
            {{/if}}
        </div>
        <div class="column col-1"></div>
    </div>
</div>