{{! <div class="half-container"> }}
<h1>All stores in JKPG</h1>

<div class="filter-tab">
    <a href="/stores" value="name-asc">A to Z</a>
    <a href="/stores/test">Z to A</a>
</div>

<span class="cat-name">Atollen</span>
{{#if storesInAtollen.length}}
    <ol class="list">
        {{#each storesInAtollen}}
            <li class="card">
                <a class="card-content" href="/stores/{{id}}">
                    {{!-- <span>0{{id}}</span> --}}
                    <div class="card-header">{{name}}</div>
                    <img src="images/arrow.svg" alt="" class="item-arrow" />
                </a>
                <div class="card-border"></div>
            </li>
        {{/each}}

    </ol>
{{else}}
    <div>
        <p class="text-center">No store is registered in {{district}} for now, please come back later.</p>
    </div>
{{/if}}

<span class="cat-name">Resecentrum</span>
{{#if storesInResecentrum.length}}
    <ol class="list">
        {{#each storesInResecentrum}}
            <li class="card">
                <a class="card-content" href="/stores/{{id}}">
                    {{!-- <span>0{{id}}</span> --}}
                    <div class="card-header">{{name}}</div>
                    <img src="images/arrow.svg" alt="" class="item-arrow" />
                </a>
                <div class="card-border"></div>
            </li>
        {{/each}}

    </ol>
{{else}}
    <div>
        <p class="text-center">No store is registered in for now, please come back later.</p>
    </div>
{{/if}}

<span class="cat-name">Tändsticksområdet</span>
{{#if storesInTandstick.length}}
    <ol class="list">
        {{#each storesInTandstick}}
            <li class="card">
                <a class="card-content" href="/stores/{{id}}">
                    {{!-- <span>0{{id}}</span> --}}
                    <div class="card-header">{{name}}</div>
                    <img src="images/arrow.svg" alt="" class="item-arrow" />
                </a>
                <div class="card-border"></div>
            </li>
        {{/each}}

    </ol>
{{else}}
    <div>
        <p class="text-center">No store is registered for now, please come back later.</p>
    </div>
{{/if}}

<span class="cat-name">Väster</span>
{{#if storesInVaster.length}}
    <ol class="list">
        {{#each storesInVaster}}
            <li class="card">
                <a class="card-content" href="/stores/{{id}}">
                    {{!-- <span>0{{id}}</span> --}}
                    <div class="card-header">{{name}}</div>
                    <img src="images/arrow.svg" alt="" class="item-arrow" />
                </a>
                <div class="card-border"></div>
            </li>
        {{/each}}

    </ol>
{{else}}
    <div>
        <p class="text-center">No store is registered for now, please come back later.</p>
    </div>
{{/if}}

<span class="cat-name">Öster</span>
{{#if storesInOster.length}}
    <ol class="list">
        {{#each storesInOster}}
            <li class="card">
                <a class="card-content" href="/stores/{{id}}">
                    {{!-- <span>0{{id}}</span> --}}
                    <div class="card-header">{{name}}</div>
                    <img src="images/arrow.svg" alt="" class="item-arrow" />
                </a>
                <div class="card-border"></div>
            </li>
        {{/each}}

    </ol>
{{else}}
    <div>
        <p class="text-center">No store is registered for now, please come back later.</p>
    </div>
{{/if}}

<span class="cat-name">Other / Unspecified</span>
{{#if otherStores.length}}
    <ol class="list">
        {{#each otherStores}}
            <li class="card">
                <a class="card-content" href="/stores/{{id}}">
                    {{!-- <span>0{{id}}</span> --}}
                    <div class="card-header">{{name}}</div>
                    <img src="images/arrow.svg" alt="" class="item-arrow" />
                </a>
                <div class="card-border"></div>
            </li>
        {{/each}}

    </ol>
{{else}}
    <div>
        <p class="text-center">No store is registered for now, please come back later.</p>
    </div>
{{/if}}
<<<<<<< Updated upstream
=======

<h2 class="graphTitle">Distribution of Stores By District</h2>
<div class="graphFlexBox">
    <div class="AtollenGraph">
        {{#each storesInAtollen}}
            <div class="singleBarAtollen"></div>
        {{/each}}
    </div>
    <div class="resecentrumGraph">
        {{#each storesInResecentrum}}
            <div class="singleBarResecentrum"></div>
        {{/each}}
    </div>
    <div class="tandstickGraph">
        {{#each storesInTandstick}}
            <div class="singleBarTandstick"></div>
        {{/each}}
    </div>
    <div class="vasterGraph">
        {{#each storesInVaster}}
            <div class="singleBarVaster"></div>
        {{/each}}
    </div>
    <div class="osterGraph">
        {{#each storesInOster}}
            <div class="singleBarOster"></div>
        {{/each}}
    </div>
    <div class="otherStoresGraph">
        {{#each otherStores}}
            <div class="singleBarOtherStores"></div>
        {{/each}}
    </div>
</div>
<div class="graphContainer">
    <div class="subTitle">
        <span class="cat-name">Other</span>
    </div>
    <div class="subTitle">
        <span class="cat-name">Öster</span>
    </div>
    <div class="subTitle">
        <span class="cat-name">Väster</span>
    </div>
    <div class="subTitle">
        <span class="cat-name">Tandst.</span>
    </div>
    <div class="subTitle">
        <span class="cat-name">Resec.</span>
    </div>
    <div class="subTitle">
        <span class="cat-name">Atollen</span>
    </div>
</div>
>>>>>>> Stashed changes
{{! </div> }}