{{#if isLoggedIn}}
    <div class="admin-menu">
        <span>Admin :</span>
        <a href="./{{store.id}}/edit">Edit this store</a>
        <form class="float-right" action="/stores/{{store.id}}/delete" method="post">
            <input type="submit" value="Delete post" />
        </form>
    </div>
{{/if}}

<div>
    {{#if loginError.length}}
        <div>
            {{#each loginError}}
                <p>{{this}}</p>
            {{/each}}
        </div>
    {{else}}
        {{#if store}}
            <div class="store-header">
                <a class="website-link" href="https://www.{{store.url}}" target="_blank">
                    <span>Visit website</span>
                    <img src="/images/arrow.svg" alt="" />
                </a>
                <h1>{{store.name}}</h1>
                {{#if store.district}}
                    <p class="location">District: {{store.district}}</p>
                {{else}}
                    <p class="location">District: Other</p>
                {{/if}}          
            </div>

        {{else}}
            <p>Sorry, this store does not exist</p>

        {{/if}}
    {{/if}}
</div>