<h1>Update the <span class="bg-primary text-light px-2 text-italic">note</span></h1>

{{#if validationErrors.length}}
    <div class="toast toast-error mb-4">
        <p>Could not update the note because of the following errors : </p>
        <ul>
            {{#each validationErrors}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
{{/if}}

<div class="container">
    <div class="columns">
        <div class="column col-1"></div>
        <div class="column col-6">
            <form action="/note-update/{{noteId}}" method="post">
                <div class="form-group mt-4">
                    <label for="Note title update" class="text-small form-label">New title :</label>
                    <input type="text" name="newNoteTitle" id="title" class="form-input mb-4" value="{{noteTitle}}" />
                </div>

                <div class="form-group mt-4">
                    <label for="Note src update" class="text-small form-label">New image link :</label>
                    <input type="text" name="newNoteImage" id="src" class="form-input mb-4" value="{{noteImage}}" />
                </div>

                <div class="form-group mt-4">
                    <label for="Note description update" class="text-small form-label">New description :</label>
                    <input type="text" name="newNoteDesc" id="description" class="form-input mb-4" value="{{noteDesc}}" />
                </div>

                <input type="submit" class="btn btn-primary px-3" value="Update note" />
            </form>
        </div>
        <div class="column col-1"></div>
    </div>
</div>